.modal {
    &__close {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.6666 3.33337L3.33325 16.6667M3.33325 3.33337L16.6666 16.6667' stroke='%23000000' stroke-width='1.66667' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-color: transparent;
        border: none;
    }
}
